



table {
    width: 100%;
    

}



th {
    height: 40px;
    border-color: blue;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px;
    background-color: #1270c2;
    color: white;
}

td {
    text-align: center;
    padding: 5px;
}
tr:nth-last-child(2n+1) {
    background-color: #65656544;
}
.nametd{
    border: none;
    width: 23%;
    padding: 0 20px;
    text-align: left;
    color: black;
}

.borntd{
    width: 6.5%;
    color: black;
    text-align: center;
    border: 1px solid blue;
    border-width: 0 0 2px 0;
     
}
.filmhead{
    padding: 0 20px;
    text-align: left;
}
.agetd{
    width: 6.5%;
    color: black;
    text-align: center;
    border: 1px solid blue;
    border-width: 0 0 2px 0;
}

.worktd{
    width: 10.5%;
    color: black;
    padding: 0 20px;
    text-align: right;
    border: 1px solid blue;
    border-width: 0 0 2px 0;
}
h2 {
    font-size: 32px;
    text-align: center;
}